<div class='container uk-background-primary uk-container uk-light'>
    <div class='title uk-container uk-flex uk-flex-center'>
        <h1 class='uk-heading-primary uk-margin'>RESTAURANT</h1>
    </div>
    <div class='subtitle uk-container uk-flex uk-flex-center uk-margin'>
        <h4>Un restaurant lambda</h4>
    </div>
    <div class='tabs uk-container uk-flex uk-flex-center uk-flex uk-flex-center'>
        <ul uk-tab>
            <li class="uk-active"><a href="/" id="showsecone">Nous</a></li>
            <li><a href="/" id="showsectwo">Menu</a></li>
            <li><a href="/" id="showsecthree">Vous</a></li>
        </ul>
    </div>
    <div class="uk-section uk-flex uk-flex-center" id="secone" hidden>
                    <div class="uk-container">
                        <article class="uk-article">
                            <h1 class="uk-article-title"><a class="uk-link-reset" href="">Un Restaurant Lambda</a></h1>
                            <p class="uk-article-meta">Written by <a href="">Le Restaurant Lambda</a> on 23 Novembrer 2017. Posted in <a href="">Website</a></p>
                            <p class="uk-text-lead">Un restaurant lambda à la hauteur de vos attentes ! Une équipe de charme et des plats dignes des plus grands chef ! Nous avons à coeur de vous fournir la meilleure qualité possible, et c'est pourquoi nous sommes partenaires des plus grandes chaines de Fast-Food ! Nous ne prenons aucune réservation et l'équipe de réserve le droit de diner à votre table si l'envie leur en prend !</p>
                            <div class="uk-grid-small uk-child-width-auto" uk-grid>
                                <div>
                                    <a class="uk-button uk-button-text" href="">Read more (ou pas)</a>
                                </div>
                                <div>
                                    <a class="uk-button uk-button-text" href="">5 Comments</a>
                                </div>
                             </div>
                          </article>
                    </div>
                </div>
            <div class="uk-section uk-flex uk-flex-center" id="sectwo" hidden>
                    <div class="uk-container">
                        <div class="uk-grid-match uk-child-width-1-3@m uk-flex-center" uk-grid>
                            <div class="uk-card uk-card-default uk-card-body uk-text-center">
                               <p class='uk-text-large uk-text-success'>Entrées</p>
                               <p>Petite crevette au parfum de soleil</p>
                               <p>Crotin de chèvre et sa salade de la veille</p>
                               <p>Soupe de carottes du marché</p>
                               <br>
                               <p>...</p>
                            </div>
                            <div class="uk-card uk-card-secondary uk-card-body uk-text-center">
                                <p class='uk-text-large uk-text-primary'>Plats</p>
                                <p>Dindon à la broche</p>
                                <p>Carré de patate noire</p>
                                <p>Brochet cru et sa sauce</p>
                                <br>
                                <p>...</p>
                            </div>
                            <div class="uk-card uk-card-default uk-card-body uk-text-center">
                                <p class='uk-text-large uk-text-warning'>Desserts</p>
                                <p>Soja et ses fraises de saison</p>
                                <p>Fromage fumé</p>
                                <p>Crème de chocolat aux poireaux</p>
                                <br>
                                <p>...</p>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="uk-section uk-flex uk-flex-center" id="secthree" hidden>
                    <div class="uk-container">
                        <table class="uk-table uk-table-justify uk-table-divider">
                            <thead>
                                <tr>
                                    <th class="uk-width-small">Pseudo</th>
                                    <th>Votre avis</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Merlin</td>
                                    <td>Un restaurant magique ! Et c'est dire si je m'y connais en magie ! Une équipe formidable qui n'hésite pas à venir s'asseoir à votre table et déguster avec vous votre assiette !</td>
                                <tr>
                                    <td>Arthur</td>
                                    <td>Je suis venu ici avec mon enchanteur et l'équipe s'est permis de manger dans son assiette ! Quelle bande d'abrutis ! Je ne reviendrais plus jamais dans ce restaurant lambda !</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
</div>
